@keyframes mover{
    0%,100%{
        background-position-x: -200px;
    }
    50%{
        background-position-x: 500px;    
    }
}
body{
    background:url("Wiki-background.jpg");
    margin: 0;
    padding: 0; 
    background-size: 125% 125%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    animation-name: mover; 
    animation-duration: 60s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.panel-title{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color:white;
}
label{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
input{
    padding-left:5px;
    font-family: 'Open Sans', sans-serif;
}
nav{
    padding:10px 0;
}
.nav{
    background: darkcyan;
    font-family:'Open Sans', sans-serif;
    color: white;   
    font-size: 17px;
    font-style: bold;
    font-weight: 400;
    position: fixed;
    width: 100%;
    top: 0;
    
}
.logo{
    display: initial;
    margin-left: 40px;
    font-weight: 800;
}
.separador{
    background: darkcyan;
    padding:10px 8px;
}
.separador:hover{
    background: rgb(2, 82, 82);
}
ul{
    display: inline;
    list-style: none;
}
li{
    display: inline-block;
}
.cont-juego{
    padding: 0 5px;
}
.cortinaFondo{
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.panel-nombres{
    text-align: center;
    position: fixed;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    padding: 50px 0;
    left:100px;
    top: 50px;
    background: cadetblue;
    border-radius: 35px;
}
.panel-ganador{
    text-align: center;
    position: fixed;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    padding: 50px 0;
    left:100px;
    top: 50px;
    background: cadetblue;
    border-radius: 35px;
}
.input-group{
    margin-top:10px;
}
.btn-start{
    background: #004a80;
    color: white;
    padding: 10px 5px;
    border-radius: 15px;
    border: transparent;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    width: 200px;
    box-shadow: 0px 0px 10px 0px #3a4556;
}
#juego{
    background: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px #564b4b;
    border: solid 3px green;
    border-radius: 15px;
    margin-left: 100px;
}
.pagina-container{
    margin-top: 80px;
    margin-bottom: 80px;
}
#display-error{
    font-family: 'Open Sans', sans-serif;
    color: red;
    background: #e6afaf;
    font-weight: 800;
    width: 200px;
    margin: auto;
    border: solid 2px #ff3737;
    padding: 10px 50px;
    border-radius: 10px;
}
#reset{
    text-decoration: none;
    display: block;
    margin: auto;
}